@model IEnumerable<PokeriaCapstone.Models.T_Ingredienti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row row-cols-2">
    @foreach (var item in Model)
    {
        <div class="card col" style="width: 18rem;">
            <img src="~/Content/Assets/FotoIngredienti/@Html.DisplayFor(modelItem => item.FotoIngrediente)" class="card-img-top" alt="FotoIngrediente">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeIngrediente)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.PrezzoAggiuntivo)</p>
                <a class="btn btn-primary" value="@Html.DisplayFor(modelItem => item.IDIngrediente)" onclick="AggiungiIngrediente">Aggiungi alla Poke</a>
            </div>
        </div>
    }
</div>

