@model IEnumerable<PokeriaCapstone.Models.T_Ingredienti>

@{
    ViewBag.Title = "Index";
}


<section class="d-flex justify-content-center align-items-center mySection flex-column">
    <div class="text-center">
        <h2 class="text-center text-light fw-bold mb-5">Scegli una base</h2>
    </div>

    <div id="divBasi" class="row row-cols-4">
    </div>
</section>


<section class="d-flex justify-content-center align-items-center mySection flex-column" id="ProteinsSection">
    <div class="text-center">
        <h3 class="text-center text-light fw-bold mb-5">Scegli fino a due proteine</h3>
    </div>
    <a href="ProteinsAnchor"></a>
    <div id="divProteine" class="row row-cols-4 gap-2">
    </div>
</section>


<section class="d-flex justify-content-center align-items-center mySection flex-column" id="ContorniSection">
    <div class="text-center">
        <h3 class="text-center text-light fw-bold mb-5">Scegli fino a cinque contorni</h3>
    </div>
    <div id="divContorni" class="row row-cols-4">
    </div>
</section>


<section class="d-flex justify-content-center align-items-center mySection flex-column" id="ToppingSection">
    <div class="text-center">
        <h3 class="text-center text-light fw-bold mb-5">Scegli fino a due toppings</h3>
    </div>
    <div id="divTopping" class="row row-cols-4">
    </div>
</section>


<section class="d-flex justify-content-center align-items-center mySection flex-column" id="SalseSection">
    <div class="text-center">
        <h3 class="text-center text-light fw-bold mb-5">Scegli fino a due salse</h3>
    </div>
    <div id="divSalse" class="row row-cols-4">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-success" onclick="AddPoke()"> Crea la tua Poke Maxi</button>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../T_Ingredienti/GetBasi",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        let div = "<div class='card col bg-transparent border-none mt-3' price='" + item.Prezzo + "' type='" + item.Tipo + "'style='width: 18rem;'>" +
                            "<img class='card-img-top' id='" + item.Id + "'  src='/Content/Assets/FotoIngredienti/" + item.Foto + "'/>" +
                            "<div class='card-body'>" +
                            "<h3 class='card-title text-center'>" + item.Nome + "</h3>" +
                            "<p class='card-text text-center'> Prezzo aggiuntivo:" + item.Prezzo + "€</p>" +
                            "</div>" +
                            "<div class='d-flex justify-content-around'>" +
                            "<a class='btn btn-primary add' onclick=addToPoke(" + item.Id + ")> Aggiungi </a>" +
                            "<a class='btn btn-danger' onclick=removeFromPoke(" + item.Id + ")> Rimuovi </a>" +
                            "</div>" +
                            "</div>"
                        $("#divBasi").append(div)

                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../T_Ingredienti/GetProteine",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        let div = "<div class='card col bg-transparent border-none mt-3' price='" + item.Prezzo + "' type='" + item.Tipo + "'style='width: 18rem;'>" +
                            "<img class='card-img-top' id='" + item.Id + "'  src='/Content/Assets/FotoIngredienti/" + item.Foto + "'/>" +
                            "<div class='card-body'>" +
                            "<h3 class='card-title text-center'>" + item.Nome + "</h3>" +
                            "<p class='card-text'> Prezzo aggiuntivo:" + item.Prezzo + "€</p>" +
                            "</div>" +
                            "<div class='d-flex justify-content-around'>" +
                            "<a class='btn btn-primary add' onclick=addToPoke(" + item.Id + ")> Aggiungi </a>" +
                            "<a class='btn btn-danger' onclick=removeFromPoke(" + item.Id + ")> Rimuovi </a>" +
                            "</div>" +
                            "</div>"
                        $("#divProteine").append(div)

                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../T_Ingredienti/GetContorni",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        let div = "<div class='card col bg-transparent border-none mt-3' price='" + item.Prezzo + "' type='" + item.Tipo + "'style='width: 18rem;'>" +
                            "<img class='card-img-top' id='" + item.Id + "'  src='/Content/Assets/FotoIngredienti/" + item.Foto + "'/>" +
                            "<div class='card-body'>" +
                            "<h3 class='card-title text-center'>" + item.Nome + "</h3>" +
                            "<p class='card-text'> Prezzo aggiuntivo:" + item.Prezzo + "€</p>" +
                            "</div>" +
                            "<div class='d-flex justify-content-around'>" +
                            "<a class='btn btn-primary add' onclick=addToPoke(" + item.Id + ")> Aggiungi </a>" +
                            "<a class='btn btn-danger' onclick=removeFromPoke(" + item.Id + ")> Rimuovi </a>" +
                            "</div>" +
                            "</div>"
                        $("#divContorni").append(div)
                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../T_Ingredienti/GetTopping",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        let div = "<div class='card col bg-transparent border-none mt-3' price='" + item.Prezzo + "' type='" + item.Tipo + "'style='width: 18rem;'>" +
                            "<img class='card-img-top' id='" + item.Id + "'  src='/Content/Assets/FotoIngredienti/" + item.Foto + "'/>" +
                            "<div class='card-body'>" +
                            "<h3 class='card-title text-center'>" + item.Nome + "</h3>" +
                            "<p class='card-text'> Prezzo aggiuntivo:" + item.Prezzo + "€</p>" +
                            "</div>" +
                            "<div class='d-flex justify-content-around'>" +
                            "<a class='btn btn-primary add' onclick=addToPoke(" + item.Id + ")> Aggiungi </a>" +
                            "<a class='btn btn-danger' onclick=removeFromPoke(" + item.Id + ")> Rimuovi </a>" +
                            "</div>" +
                            "</div>"
                        $("#divTopping").append(div)

                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../T_Ingredienti/GetSalse",
                success: function (data) {
                    console.log(data)
                    $.each(data, function (i, item) {
                        let div = "<div class='card col bg-transparent border-none mt-3' price='" + item.Prezzo + "' type='" + item.Tipo + "'style='width: 18rem;'>" +
                            "<img class='card-img-top' id='" + item.Id + "'  src='/Content/Assets/FotoIngredienti/" + item.Foto + "'/>" +
                            "<div class='card-body'>" +
                            "<h3 class='card-title text-center'>" + item.Nome + "</h3>" +
                            "<p class='card-text'> Prezzo aggiuntivo:" + item.Prezzo + "€</p>" +
                            "</div>" +
                            "<div class='d-flex justify-content-around'>" +
                            "<a class='btn btn-primary add' onclick=addToPoke(" + item.Id + ")> Aggiungi </a>" +
                            "<a class='btn btn-danger' onclick=removeFromPoke(" + item.Id + ")> Rimuovi </a>" +
                            "</div>" +
                            "</div>"
                        $("#divSalse").append(div)

                    })
                }
            })
        })
    </script>
    <script src="~/Scripts/AggiuntaIngredientiPokeMaxi.js">
    </script>
    <script>
        function AddPoke() {
            console.log(AddedPrices, SelectedItems)
            $.ajax({
                method: 'POST',
                url: "../T_Poke/CreateNewPokeCompostaMaxi",
                data: { Prezzi: JSON.stringify(AddedPrices), Ingredienti: JSON.stringify(SelectedItems) },
                success: function (item) {
                    console.log(item)
                    location.href = "@Url.Action("Index", "T_Ordini", new { area = "" })"
                },
                error: function (e) {
                    console.log(e)
                },
            })
        }

    </script>


}



