@model IEnumerable<PokeriaCapstone.Models.T_Poke>

@{
    ViewBag.Title = "Menu";
}
<div>
    <h2 class="text-center mt-3 text-light fw-bold">Menu</h2>
</div>

<div class="row row-cols-lg-3 row-cols-sm-1 gap-5 d-flex justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col d-flex justify-content-evenly cardSingleOrder p-3">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex justify-content-center">
                    <img src="~/Content/Assets/FotoPokeMenu/@item.FotoPoke" alt="foto poke Menu" width="150" height="150" />
                </div>
                <div>
                    <h2>
                        Prezzo:
                    </h2>
                </div>
                <div>
                    <h3>
                        @Html.DisplayFor(model => item.Prezzo)
                    </h3>
                </div>
            </div>

            <div>
                <div class="d-flex justify-content-center">
                    <ul>
                        @foreach (var ingrediente in item.T_RelazionePokeIngredienti)
                        {
                            <li>
                                @ingrediente.T_Ingredienti.NomeIngrediente
                            </li>
                        }
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <a @Html.ActionLink("Aggiungi al carrello", "AddToCart", new { @id = item.IDPoke }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }
</div>



