.IngredienteInserito {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.mySection {
    height: 100vh;
}

.mySection {
    height: 100vh;
}

.card{
    border : none !important;
}

.divRegister {
    background-color: #001A70;
}



