<main>



    <div>
        <div class="HeroSectionHome d-flex justify-content-center">
            <img src="~/Content/Assets/LogosAndOtherPics/Logo Banner Pokeria name.png" class="HeroSectionLogo mt-4 mb-4" />
        </div>
    </div>

    <div class="text-center">
        @{ 
            ViewBag.OrdineConfermato = "Grazie mille! Il pagamento é andato a buon fine e il tuo ordine verrá consegnato il prima possibile!";
        }
    </div>
    

    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center bg-warning p-3 rounded-pill">
            <div>
                <h2 class="text-center fw-bold">
                    Bentornato capo!
                </h2>
                <h4 class="text-center">
                    Cosa vuoi fare?
                </h4>
                <div class="d-flex flex-column">

                        <a class="btn btn-success mb-1" href="/T_Ingredienti/ListaIngredienti">Visualizza la lista degli Ingredietni</a>
                        <a class="btn btn-success mb-1" href="/T_Poke/MenuForAdmin">Visualizza e modifica il Menú</a>
                        <a class="btn btn-success mb-1" href="/T_Ordini/OrdersForAdmin">Visualizza la lista degli ordini</a>

                </div>
            </div>
        </div>
    }

    <div class="d-flex flex-column mt-5 box2">
        <h3 class="text-center mb-2">
            Benvenuti nel regno del gusto fresco e avventuroso! ITACHI, ogni boccone è un viaggio culinario attraverso sapori audaci e ingredienti freschi.
        </h3>
    </div>

    <div class="mt-4 row row-cols-lg-3 row-cols-sm-1 gap-4 justify-content-center mt-5">
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome" src="~/Content/Assets/LogosAndOtherPics/Sign in-pana.png" />
            <h5 class="fw-bold">Registrati e ordina!</h5>
        </div>
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome" src="~/Content/Assets/LogosAndOtherPics/Sushi cook-pana.png" />
            <h5 class="fw-bold">Noi lo prepariamo...</h5>
        </div>
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome" src="~/Content/Assets/LogosAndOtherPics/Delivery address-pana.png" />
            <h5 class="fw-bold">...e te lo portiamo a casa!</h5>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5 mb-4">
        <div class="carouselDiv">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/Assets/LogosAndOtherPics/Carosello1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Assets/LogosAndOtherPics/Carosello2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Assets/LogosAndOtherPics/Carosello3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <div class="d-flex flex-column mt-5 box2">
        <h3 class="text-center mb-2">
            Siamo appassionati di offrire esperienze gastronomiche che soddisfino sia il tuo palato che il tuo spirito avventuroso. <br /> Nel nostro ambiente accogliente, immergiti nella cultura delle isole e lasciati trasportare dalla freschezza e vitalità che caratterizzano le nostre poke bowl.
        </h3>
    </div>



    <div class="mt-4 row row-cols-lg-3 row-cols-sm-1 gap-4 justify-content-center mt-5 pb-5">
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome mt-4" src="~/Content/Assets/LogosAndOtherPics/ComponiPokeRegular.jpg" />
            <a href="/T_Ingredienti/Index" class="btn btn-success mt-3 mb-2">Componi la tua Poke Regular</a>
        </div>
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome mt-4" src="~/Content/Assets/LogosAndOtherPics/ComponiPokeMaxi.jpg" />
            <a href="/T_Poke/CreatePokeMaxi" class="btn btn-success mt-3 mb-2">Componi la tua Poke Maxi</a>
        </div>
        <div class="col d-flex flex-column align-items-center box3">
            <img class="pngHome mt-4" src="~/Content/Assets/LogosAndOtherPics/VisualizzaMenu.jpg" />
            <a href="/T_Poke/Menu" class="btn btn-success mt-3 mb-2">Guarda il menu</a>
        </div>
    </div>


</main>